
{% block content %}
{% include 'dash_header.html' %}
{% load static %}
{% load custom_tags %}

<div class="alert">
 <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
 This is an alert box.
</div>

<!-- Profile Box -->
<div id="profile_box" class="container">
  <div class="col-sm-2">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
          <ul class="nav navbar-nav">
            <li class="active showTab_" target="profile_"><a href="/dashboard/">My Account</a></li>
            <li class="showTab_" target="product_"><a href="#product_">Products</a></li>
            <li class="showTab_" target="messages_"><a href="#messages_">Notification</a></li>
            <li class="showTab_" target="ustatus_"><a href="#status_">Order History</a></li>
            <li class="showTab_" target="reviews_"><a href="#reviews_">Reviews <span class="badge">1,118</span></a></li>
          </ul>
      </div>
    </div>
  </div>

<!-- My Account -->
{% include 'user_account.html' %}
<!-- end My Account -->


<!-- Product -->
{% include 'dash_products.html' %}
<!-- end Product -->

<!-- Messages -->
{% include 'dash_messages.html' %}
<!-- end Messages -->

<!-- Status -->
{% include 'dash_status.html' %}
<!-- end Status -->

<!-- Reviews -->
{% include 'dash_reviews.html' %}
<!-- end Reviews -->


</div>

{% include 'dash_footer.html' %}
{% endblock content %}
