

{% block content %}
{% include 'header.html' %}
{% load custom_tags %}

   <div id="profile">
    <div id="wrapper">
        <div class="container">
          <!-- Main component for a primary marketing message or call to action -->
          <!-- Page Heading -->
          <div class="container-fluid">
              <!-- Page Heading -->
                <div class="col-lg-10 col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h3 class="list-group-item-heading">Hey! I am here</h3>
                        </li>
                    </ul>
                </div>  
            
              <div class="col-lg-10 col-md-6">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingProfile">
                          <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseProfile" aria-expanded="true" aria-controls="collapseProfile">
                              Profile
                            </a>
                            <span class="fa fa-gear pull-right"></span>
                          </h4>
                        </div>
                        
                        <div id="collapseProfile" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingProfile">
                          <div class="panel-body">
                            <div class="page-header">
                                <h3>Welcome Mr. Amit Ghadge <small> Customer ID: {{user.id}} </small>
                                    <span class="glyphicon glyphicon-bell pull-right"></span>
                                </h3>
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit">Get Help</button>&nbsp;
                                <button class="btn btn-primary" type="submit">View Details</button>
                            </div>   
                          </div>
                        </div>
                      </div>
                      

                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingServices">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseServices" aria-expanded="false" aria-controls="collapseServices">
                              Services
                            </a>
                          </h4>
                        </div>
                        
                        <div id="collapseServices" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingServices">
                          <div class="panel-body">
                                <br>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-lg-5 col-md-5">
                                        <div class="list-group">
                                            {% for certificate in certificates %}
                                            <a href="add_ssl_certificates/{{ certificate.id }}/" class="list-group-item">
                                                <span class="badge glyphicon glyphicon-plus"> </span>
                                                {{ certificate }}
                                            </a><br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                          </div>
                        </div>
                      </div>
                      
                    </div><!-- /row -->


                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingA_Services">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseA_Services" aria-expanded="false" aria-controls="collapseA_Services">
                              Active Services
                            </a>&nbsp;
                          <span class="badge glyphicon">{{products|length}}</span>
                          </h4>
                        </div>
                        
                        <div id="collapseA_Services" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingA_Services">
                          <div class="panel-body">
                                {% for product in products %}
                                
                                    <div class="col-lg-6 col-md-6 products-blocks">
                                        {% if product.activate %} 
                                          <div class="panel panel-green">
                                        {% else %}
                                          <div class="panel panel-primary">
                                        {% endif %}
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-lg-10 text-left">
                                                        <span>ID: {{product.certificate_number}}</span>
                                                        <h3>{{product.certificate}}</h3>
                                                        <span>Created: {{product.created_date}}</span><br>
                                                        <span>Duration: {{product.certificate.duration}} Year</span><br>
                                                        {% if product.activate %} 
                                                              <span>Expired on: {{product.info}}</span>
                                                        {% else %}
                                                              <span>Active: {{product.activate|change}}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% if product.activate %} 
                                                <a href="/products/view_certificates/{{product.id}}/">
                                                    <div class="panel-footer">
                                                        <span class="pull-left">View Details</span>
                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                            {% else %}
                                                <a href="/products/activate_certificates/{{product.id}}/">
                                                    <div class="panel-footer">
                                                        <span class="pull-left">Configure</span>
                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                          </div>
                        </div>
                      </div>


                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOthers">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOthers" aria-expanded="false" aria-controls="collapseOthers">
                              Others
                            </a>
                          </h4>
                        </div>
                        
                        <div id="collapseOthers" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOthers">
                          <div class="panel-body">
                            Here
                          </div>
                        </div>
                      </div>
                      
                    </div><!-- /row -->
                </div><!-- /panel-group -->
                

          </div>          <!-- /container-fluid -->
        </div> <!-- /container -->
      </div> <!-- /wrapper -->
    </div> <!-- /profile
     -->
{% include 'footer.html' %}
{% endblock content %}

